<div class="row login-div">
  <div class="col justify-content-center">
      <form class="login-form">
      <h1 class="">Login</h1>
      <label  for="email">Email:</label><br>
      <input type="email" id="username-login" name="email" placeholder="Username"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password-login" name="password" placeholder="Password"><br><br>
      <button class="btn btn-primary" type="submit">Login</button>
      <button class="btn btn-success">
      <a href="/signUp">Sign Up Instead</a>
      </button>
    </form> 

  </div>
</div>

<script src="./js/login.js"></script>